body {
  background-color: #23272F;
  font-family: system-ui;
  color: white;
}

form, .filterableProductTable {
  display: flex;
  flex-direction: column;
  width: fit-content;
}

form {
  margin-bottom: 20px;
}

input {
  margin-bottom: 5px;
}

th {
  border: 1px solid white;
  padding: 5px 20px;
}

tr td:nth-child(2) {
  text-align: right;
}

table {
  border-collapse: collapse;
  border-spacing: unset;
}

td {
  border-bottom: solid 0.5px white;
  padding: 5px 0;
}